.app-container {

}

.header-container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1564613469739-c78f970f9c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80");;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    padding: 10px 20px;
}

.sign-container {
    margin-left: 20em;
    margin-top: 1.8em;
    height: 50px;
    width: 5em;
    border-radius: 10px;
}

.a {
    text-decoration: none;
    color: white;
}

.discover {
    margin-top: 5em;
    text-align: center;
    color: white;
    font-size: 2em;
}
